*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

 
.container {
background-color: #f9fbfd;
height: 130px;
padding: 10px 14px;

}
.logo{
  float: left;
  cursor: pointer;
}
.menu-bar-1{
  display: flex;
}


.menu-bar-2{
  display: flex;
  background-color: #dfe5eb;
  border-radius: 25px;
  cursor: pointer;
  width: auto;
  padding: 10px 10px;
}

.menu-links 
{
  padding : 8px 17px;
}
.filename {
  /* position: relative; */
  font-size: 20px;
  color: rgb(112, 111, 111);
}

.filename:hover
{
border: 1px solid black;
}

.menu-options{
  cursor: pointer;
}
.menu{
  float: left;
  padding: 5px 20px 5px 0;
}

.menu-options .menu:hover{
  background-color: rgb(192, 192, 192);
  /* background-color: aquamarine; */
  }

.section-1 , .section-2 , .section-3, .section-4, .section-5{
  display: flex;
  padding: 5px 12px;
  border-right: 2px solid rgb(19, 19, 19);
} 
.display_content
{
  display:flex;
  border: 1px solid white;
  background-color: #fff;
  padding: 5px;
}
.display {
  padding-left: 10px;
}
.option{
padding-left:6px ;
}

ul .undo:hover , ul .redo:hover{
background-color: rgb(192, 192, 192);
}
.fontSize {
  border: 1px solid black;
  padding: 4px;
}
ul{
  list-style-type: none;
}

ul .options{
  padding-left: 15px;
}