*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

 
.container {
background-color: #f9fbfd;
height: 130px;
padding: 10px 14px;

}
.logo{
  /* display: inline-block; */
  float: left;
}
/* .logo img {
  float: left;
 
} */

.menu-bar-1{
  display: flex;
}

.menu-bar-2{
  display: flex;
  background-color: #dfe5eb;
  border-radius: 25px;
}

.menu-links 
{
  padding : 8px 60px;
}
.filename {
  font-size: 20px;
  color: rgb(112, 111, 111);
}

.menu{
  float: left;
  padding: 5px 20px 5px 0;
}

.section-1 , .section-2 , .section-3{
  display: flex;
  padding: 10px 12px;
} 

.option{
padding-left:6px ;
}

ul{
  list-style-type: none;
}


/* ul .edit-options{
  list-style-type: none;
}
li .button{
  display: inline;
} */
/*
.undo {
  float: left;
} */
/* .button{
  padding: 5px;
} */

/* .features_tab{
  display: flex;
} */